html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #caf0f8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 90%;
  max-width: 800px; 
  box-sizing: border-box; 
}

.upload-section {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-section input {
  margin-right: 10px;
}

.submit-button {
  background-color: #68acf5;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3; 
}

.results-section {
  margin: 20px auto;
  width: 100%;
  text-align: center; 
}

.highlighted-text {
  text-align: center;
  overflow-wrap: break-word; 
}

.highlighted-text mark {
  background-color: #023e8a;
  color: white;
}

.logo {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin: 20px 0;
}